<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fitness tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet"

    <!-- Add custom CSS here -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Full Page Image Header Area -->
    <% if !user_signed_in? %>
      <div id="top" class="header">
        <div class="vert-text">
          <h1>Fitness Tracker</h1>
          <h3><em><center>Your companion for fitness</em></center><em></em></h3>
          <center><a href="#starting" class="btn btn-default btn-lg"> Get Started </a></center>
        </div>
      </div>
    <% else %>
      <div id="top" class="header">
        <div class="vert-text">
          <h1>Welcome <%=current_user.name if current_user.name.present?%></h1>
          <h3><em><center>Continue tracking your Fitness</em></center><em></em></h3>
        </div>
      </div>
    <% end %>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>The only bad workout is no workout.</h2>
            <p class="lead"> To be Fit, Doctors highly recommend  a balance of sleep, diet and exercise and setting up individual physical goals. <br> <br> We provide you with optimized and Versetile tools that help you track your fitness goals , your sleep and your diet. Helping you towards good health and well being.<br> 
              <br><%= image_tag "overview.jpg", height: 250, width: 400 %></p>
              
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Features</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-bicycle"></i>
              <h4>Activities</h4>
              <p>Explore and compare the energy expenditure for various types of physical activities, including cycling, jogging and swimming as well as watching TV and sleeping.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-area-chart"></i>
              <h4>Weight Loss</h4>
              <p> Use the weight loss Feature to keep logs and to find the optimal way to reach your target body weight.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-shield"></i>
              <h4>Nutrition</h4>
              <p>Food and nutrition is an integral part of everyday life.It can be used to plan healthy meals.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-bullseye"></i>
              <h4>Goals and reminders</h4>
              <p>Set short term and long term goals and stay motivated to develope healthy habits</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1></h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2></h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <% if user_signed_in? %>
                <a href="/exercise_computation/index"><%= image_tag "img/portfolio-1.jpg", height: 250, width: 300 %></a>
              <% else %>
                <a href="#"><%= image_tag "img/portfolio-1.jpg", height: 250, width: 300 %></a>
              <% end %>
              <h4>Exercise computations</h4>
              <p>Get a detail insight on workouts including caloric expenditure, Fat burned, Oxygen Consumption, and much more.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <% if user_signed_in? %>
                <a href="/weight_logs/index"><%= image_tag "img/portfolio-2.jpg", height: 250, width: 300 %></a>
              <% else %>
                <a href="#"><%= image_tag "img/portfolio-2.jpg", height: 250, width: 300 %></a>
              <% end %>
              <h4>Weight logs</h4>
              <p>Keeping a regular logs of weight is important in order to stay healthy and maintain or loose weight.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <% if user_signed_in? %>
                <a href="food_track/index"><%= image_tag "img/portfolio-3.jpg", height: 250, width: 300 %></a>
              <% else %>
                <a href="#"><%= image_tag "img/portfolio-3.jpg", height: 250, width: 300 %></a>
              <% end %>
              <h4>Track your food intake</h4>
              <p>Keep a in-detail track about what you eat and drink. Never loose a track of your calories.Choose your intake from our wide nutrition database and get the nutrition info instantly. </p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <% if user_signed_in? %>
                <a href="/analytics_dash/index"><%= image_tag "img/portfolio-4.jpg", height: 250, width: 300 %></a>
              <% else %>
                <a href="#"><%= image_tag "img/portfolio-4.jpg", height: 250, width: 300 %></a>
              <% end %>
              <h4>Dashboard</h4>
              <p>Data tells you a lot more. From all the information displayed on the dashboard Take Insights, set short & long time goals and plan accordingly to achieve your optimal body goal.s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <% if !user_signed_in? %>
      <div id="starting" class="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3>To get started</h3>
              <a href="/users/sign_in" class="btn btn-lg btn-default">LogIn</a>
              <a href="/users/sign_up" class="btn btn-lg btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
    <!-- /Call to Action -->

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
    -->

  </body>

</html>