<html>
  <head>
    <title>FitTracker</title>
  </head>
  <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <% if current_user&.admin? %>
            <%logo = "FitTracker | AdminPanel"%>
          <% else %>
            <%logo = "FitTracker"%>
          <% end %>
          <%= link_to "#{logo}", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if !current_user&.admin? %>
              <li class="sidebar-brand"><a href="#">Fitness Tracker</a></li>
              <li><a href="#top">Home</a></li>
              
              <li><a href="#about">About</a></li>
              <li><a href="#services">Features</a></li>
              <li><a href="#portfolio">Dashboard</a></li>
              <li><a href="#contact">Help</a></li>
              <% end %>
              <% if user_signed_in? %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
      <% if current_user&.admin? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h2>Total Number of Users: <%= @user.count%></h2>
        <table>
        <tr>
          <th>No. &nbsp; &nbsp; &nbsp;</th>
          <th>Email ID</th>
          <th>Joined on</th>
        </tr>
        <% count = 1 %>
        <% @user.each.each do |u| %>
        <tr>
          <td><%= count %></td>
          <td><%= u.email %>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</td>
          <td><%= u.created_at.to_date %></td>
        </tr>
          <% count += 1 %>
        <% end %>
      </table> 
        </div>
      </div>
      <%else%>
      <%= render 'dashboard' %>
      <% end %>
    <% if user_signed_in? %>
    <% else %>
    <% end %>
  </body>
</html>
